* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #3cc47c;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}